body {
    background-image: url("../images/grainbeltsign.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#blurb {
    border: 1px solid white;
    background: white;
    width: 600px;
    margin: auto;
    background-color: #f8f9fa;
    border-radius: .25rem;
    align-content: center;
}

#profile {
    float: left;
}

.border {
    border: 1px solid black;
    padding: 5px;
}

#cards {
    margin-top: 80px;
}

li {
    padding-right: 15px;
}

a {
    color: black;
}