p {
    font-family: 'Roboto Mono', monospace;
    color: blue;
}

body {
    background-color: lightgray;
}


.col-sm {
    padding: 50px;
    border: 1px solid;
}

li {
    padding-right: 15px;
}

a {
    color: black;
}

/* #nav {
    margin-left: 0px;
} */